@import '../../base.module';

.icon {
    color: $primary-color;
    background-color: rgba( $primary-color, 0.5 );
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.element {
    background-color: #fff;
    border-radius: $border-radius;
    display: flex;
    margin: 20px 0;
    padding: 10px;
    box-shadow: $box-shadow;
    position: relative;

    &:hover > button {
        color: rgba($negative-color, 1);
    }
}

.text {
    padding-left: 10px;
    align-self: center;
    flex: 1;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
    opacity: 0.4;
}

button {
    border-radius: 50%;
    background-color: #fff;
    color: rgba($negative-color, 0);
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 15px;
    border: none;
}