@import './base.module';

* {
  box-sizing: border-box;
}

body {
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  font-family: $font-stack;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.money {
  align-self: center;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;

  &.positive {
      color: $positive-color;
  }

  &.negative {
      color: $negative-color;
  }
}