@import './styles/base';

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: $font-stack;
}