@import '../../base.module';

.container {
    background-color: $primary-color;
    border-radius: $border-radius;
    color: $light-color;
    box-shadow: $box-shadow;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    & > div {
        flex: 1;
        text-align: center;

        &:first-of-type {
            border-right: 1px solid $light-color;
        }
    }
}